#features {
	min-height: 650px;
	background: #eee;
	padding: 5rem;
	color: #000;
	font-family: 'Raleway', sans-serif;
	
	.feature{
		padding: 5rem;
		
		.caption{
			font-weight:bold;
		}
		
		img{
			border: 3px solid #fff;
		}
	}
}